<div class="limiter">
  <div class="container-login">
    <div class="wrap-login">
      <div class="login-title">
        <div class="login-title-text">
            <h1>LOG IN</h1>
        </div>
      </div>
        <form class="login-form">
          <div class="wrap-input mb-4">
            <span class="label-input">Email &nbsp; &nbsp; &nbsp;</span>
            <input 
            class="input-field"
            type="text"
            name="email"
            placeholder="Enter Email"
            />
            <span class="focus-input"></span>
          </div>

          <div class="wrap-input m-b-18">
              <span class="label-input">Password</span>
              <input 
              class="input-field"
              type="text"
              name="password"
              placeholder="Enter Password"
              />
              <span class="focus-input"></span>
          </div>
          <div class="flex-sb-m w-full p-b-30">
            <div class="form-checkbox">
              <input
              class="input-checkbox"
              type="checkbox"
              name="remember-me"
              />
              <label class="label-checkbox">Remember me</label>
            </div>
            <div forgot>
              <a class="txt1">Forgot Password</a>
            </div>
          </div>
          <div class="container-login-btn">
            <button class="login-btn">
              Login
            </button>
            <div registerLink class="link-checkbox">
                <a routerLink="/register">Sign up</a>
            </div>
          </div>
        </form>
    </div>
  </div>
</div>
